<header>
  <mat-toolbar color="primary">
    <div id="menu-container">
      <button (click)="showMenu=!showMenu" mat-icon-button class="example-icon"
              aria-label="Example icon-button with menu icon">
        <mat-icon>menu</mat-icon>
      </button>
      <span><a href="/" id="logo" title="Back to home"> {{ title }}</a></span>
    </div>
    <mat-form-field id="personSelect">
      <mat-label>Versicherungshalter auswählen:</mat-label>
      <mat-select [(value)]="policyholderSelection">
        @for(policyholder of policyholders; track policyholder?.id){
        <mat-option [value]="policyholder?.id">{{policyholder?.name}}</mat-option>
        }
      </mat-select>
    </mat-form-field>

  </mat-toolbar>
  <script
    src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.9.4/Chart.js">
  </script>
</header>

<mat-sidenav-container>
  <mat-sidenav [opened]="showMenu" [mode]="'side'">
    <nav>
      <ul>
        <li>
          <a routerLink="/" routerLinkActive="active" ariaCurrentWhenActive="page">Fahrzeuge</a>
        </li>
        <li>
          <a routerLink="/trips" routerLinkActive="active" ariaCurrentWhenActive="page">Fahrten</a>
        </li>
        <li>
          <a routerLink="/insurance" routerLinkActive="active" ariaCurrentWhenActive="page">Versicherungen</a>
        </li>
      </ul>
    </nav>
  </mat-sidenav>
  <mat-sidenav-content>
    <router-outlet></router-outlet>
  </mat-sidenav-content>
</mat-sidenav-container>
