span {
    font-weight: 400;
}

.wrapper {
    display: flex;
    flex-direction: row;
}

ul {
    width: max-content;
    padding: 0 10rem 0 0;
}

li {
    padding: 0.5rem 0;
    list-style-type: none;
    font-weight: bold;
}

.icon {
    width: 50px;
}

.vehicle {
    padding: 1rem;
    font-weight: bold;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

