div.top-bar {
  display: flex;
  flex-flow: row nowrap;
}

div.car-model {
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
}

div.trip-stats h3 {
  margin: 0;
  font-size: 16px;
}

div.trip-stats h2 {
  text-align: center;
}

div.start-end-container {
  display: flex;
  flex-flow: row nowrap;
  justify-content: flex-start;
  gap: 3em;
}

div.start-end-point {
  width: 300px
}

div.trip-stats {
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;

}

div.trip-inner-details {
  display: flex;
  flex-flow: row nowrap;
  justify-content: flex-start;
  gap: 30px;
  max-width: 950px;
}

div.trip-stat-inner-container {
  flex-grow: 1;
  display: flex;
  flex-flow: column nowrap;
  justify-content: flex-start;
  gap: 35px
}

div.trip-stat-column {
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
}

google-map {
  width: 100%;
}

.map-container {
  width: 100% !important;
  height: 100% !important;
}

.outer-maps-container {
  flex-grow: 1;
  max-width: 80%;
  min-height: 400px
}

.trip-status {
  text-transform: lowercase;
}
