div.trip-stats {
  display: flex;
  flex-flow: row nowrap;
  justify-content: flex-start;
  gap: 10px
}

div.trip-stats h2 {
  margin: 0;
  font-size: 14px;
}

div.trip-stat-column {
  width: 120px;
  display: flex;
  flex-flow: column wrap;
  justify-content: flex-start;
  align-content: center;
  gap: 10px;
}

div.dates-container {
  margin: 0.3em 0 0 0;
  display: flex;
  flex-flow: row;
  justify-content: space-between;
  align-content: center;
  gap: 2em;
}

div.single-date {
  margin: 1em 0;
  display: flex;
  flex-flow: row wrap;
  width: 80px
}

div.date-divider {
  margin: auto 0;
  height: 0.1em;
  width: 1em;
  background-color: black;
}

span.date-type {
  color: #6e6e6e;
  text-transform: uppercase;
  font-size: 12px;
}

.clear-button {
  margin: 0.2em;
  display: inline;
  flex-flow: row nowrap;
}

.clear-button img {
  width: 25px;
  filter: invert(30%);
  margin-left: 0.2em;
}

.clear-button:hover {
  cursor: pointer;
  text-decoration: underline;
}

ul.trips-grid {
  list-style: none;
  display: flex;
  flex-flow: row wrap;
  justify-content: flex-start;
  padding: 0;
  gap: 0.5em
}

div.trip-card {
  border: #e3e3e3 solid 1px;
  border-radius: 5px;
  padding: 1em;
}

div.trip-card:hover {
  cursor: pointer;
  border-color: #673ab7;
  background-color: #f7f2ff;
}

p .trip-status {
  font-weight: bold;
  text-transform: lowercase;
}

div.stacked-stat {
  display: flex;
  flex-flow: column nowrap;
  justify-content: flex-start;
}

div.img-container {
  min-height: 4em;
  text-align: center;
}

.hidden {
  display: none;
}

div.trip-filter-bar {
  display: flex;
  flex-flow: row nowrap;
  gap: 0.5em
}
