<h1>Fahrtenübersicht</h1>
<div class="trip-filter-bar">
<mat-form-field>
  <mat-label>Fahrzeug auswählen:</mat-label>
  <mat-select id="vehicle-select"[(value)]="vehicleSelection" (selectionChange)="onVehicleSelected($event)">
    <mat-option [value]="0">Alle</mat-option>
    @for(vehicle of vehicles; track vehicle.id){
    <mat-option [value]="vehicle.id">{{vehicle.vehicleModel.manufacturer}}
    {{vehicle.vehicleModel.modelName}}</mat-option>
    }
  </mat-select>
</mat-form-field>

  <div>
    <mat-form-field>
      <mat-label>Zeitraum auswählen:</mat-label>
      <mat-date-range-input [rangePicker]="picker">
        <input matStartDate matInput placeholder="Startdatum" [(ngModel)]="datePickerStart" (dateChange)="changeDate('start',
    $event)"
               id="inputStartDate"/>
        <input matEndDate matInput placeholder="Enddatum" [(ngModel)]="datePickerEnd" (dateChange)="changeDate('end',
    $event)"
               id="inputEndDate"/>
      </mat-date-range-input>
      <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
      <mat-date-range-picker #picker></mat-date-range-picker>
    </mat-form-field>
    <mat-icon class="clear-button hidden" matDatepickerToggleIcon (click)="clearDate()"><img
      src="assets/icons/circle-xmark-regular.svg"/>
    </mat-icon>
  </div>
</div>
<h2>Gesamtstatisik</h2>
<div class="trip-stats">
  <div class="trip-stat-column">
    <div class="img-container">
      <img src="assets/icons/car-solid.svg" width="50px">
    </div>
    <h2>{{trips.length}} Fahrten</h2>
  </div>

  <div class="trip-stat-column">
    <div class="img-container">
      <img src="assets/icons/ruler-horizontal-solid.svg" width="50px">
    </div>
    <div class="stacked-stat" *ngIf="getAverage(distance, trips.length)">
      <h2>{{distance.toFixed(2)}} km</h2>
      <p>&empty; {{getAverage(distance, trips.length)}} km</p></div>
  </div>

  <div class="trip-stat-column">
    <div class="img-container">
      <img src="assets/icons/clock-solid.svg" width="50px">
    </div>
    <div class="stacked-stat" *ngIf="getAverage(duration, trips.length)">
      <h2>{{convertDuration(duration)}}</h2>
      <p>&empty; {{convertDuration(getAverage(duration, trips.length))}}</p>
    </div>
  </div>

  <div class="trip-stat-column">
    <div class="img-container">
      <img src="assets/icons/gauge-high-solid.svg" width="50px">
    </div>
    <h2 *ngIf="getAverageSpeed(speeds)">{{getAverageSpeed(speeds).toFixed(1)}} km/h</h2>
  </div>
</div>
<h2>Alle Fahrten</h2>
<ul class="entity-grid">
  @for(trip of trips; track trip.id){
  <li>
    <div class="entity-card" [routerLink]="['/trips', trip.id]">
      <google-map
       height="200px"
       width="300px"
       [options]="mapOptions"
       [center] = "{lat: trip.start_latitude, lng: trip.start_longitude}">
        <map-marker
        [position]="{lat: trip.start_latitude, lng: trip.start_longitude}"
        [label]="{ color: 'black', text: 'Start'}"
        ></map-marker>
            <map-marker
        [position]="{lat: trip.end_latitude, lng: trip.end_longitude}"
        [label]="{ color: 'black', text: 'Ende'}"></map-marker>
        <map-polyline
        [options]="getPolyLineOptions(trip)"></map-polyline>
        </google-map>

    <div class="dates-container">
      <p class="single-date"><span class="date-type">Start</span>{{dateInYyyyMmDdHhMmSs(trip.trip_start)}}</p>
      <div class="date-divider"></div>
      <p class="single-date"><span class="date-type" *ngIf="trip.state == 'FINISHED'">Ende</span>{{dateInYyyyMmDdHhMmSs(trip.trip_end)}}</p>
    </div>
     <p>Status: <span class="trip-status">{{trip.state}}</span></p>
    </div>

  </li>
  }
</ul>
