.openstreetmap {
  height: 300px;
  width: 400px;
  border: gray 1px solid;
  border-radius: 5px;
}

.icon {
  width: 20px;
  padding-right: 0.5rem;
}

.location {
  display: flex;
  flex-direction: column;
}

.adress-wrapper {
  display: flex;
  flex-direction: row;
  align-items: center;
}
