
img {
  width: 500px;
  height: 350px;
  object-fit: cover;
  border-radius: 5px;
}

.all-details {
  display: flex;
  flex-direction: column;
}

.vehicle-details {
  margin: 0.5em 0;
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  width: 100%;
  border-bottom: #e3e3e3 1px solid;
}

label, .vehicle-details p {
  margin: 0;
  padding: 0 0.7em

}

label {
  font-weight: bold;
}

.loc-pieChart {
  display: flex;
  flex-direction: column;
}

canvas {
  margin-top: 5em;
}

.upper-half {
  display: flex;
  flex-wrap: wrap;
}

.osm-view-container {
  padding: 0 20%;
}

canvas {
  width: 700px;
}

.chart-container h2 {
  margin-top: 2em;
  padding: 0 20%
}

.chart-container canvas {
  margin: 0
}
