<h1>Fahrzeug Details</h1>


<ul class="vehicle">

  <li class="vehicle-details">
    <strong>Hersteller:</strong> {{vehicle?.vehicleModel?.manufacturer}} <br>
    <strong>Modell:</strong> {{vehicle?.vehicleModel?.modelName}} <br>
    <strong>Kennzeichen:</strong> {{vehicle?.licensePlate}} <br>
    <strong>Baujahr:</strong> {{vehicle?.vehicleModel?.constructionYear}} <br>
  </li>
</ul>

<!--<li class="vehicle-details">-->
<!--  <strong>Hersteller:</strong> {{vehicle?.vehicleModel.manufacturer}} <br>-->
<!--  <strong>Modell:</strong> {{vehicle?.vehicleModel.modelName}} <br>-->
<!--  <strong>Kennzeichen:</strong> {{vehicle?.licensePlate}} <br>-->
<!--  <strong>Baujahr:</strong> {{vehicle?.vehicleModel.constructionYear}} <br>-->


<!--    @empty {-->
<!--    <span>Task list is empty</span>-->
<!--    }-->
<!--</li>-->
