h1{
  padding-left: 40px;
}

img {
  width: 500px;
  height: 350px;
  object-fit: cover;
  border-radius: 5px;
}

.all-details{
  display: flex;
  flex-direction: column;
}

.vehicle-details{
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  width: 100%;
}

label{
  font-weight: bold;
}

.loc-pieChart{
  display: flex;
  flex-direction: column;
}

.upper-half{
  display: flex;
  flex-wrap: wrap;
}

app-osm-view{
  margin: 0 30% 0 30%;
}

canvas{
  width: 700px;
}
