<h1>Fahrzeug Details</h1>


<ul class="vehicle">
  <li class="vehicle-details">
    <img src="{{vehicle?.vehicleModel?.imgURL}}" alt="Fahrzeugbild" class="vehicle-img"><br>
    <strong>Hersteller:</strong> {{vehicle?.vehicleModel?.manufacturer}} <br>
    <strong>Modell:</strong> {{vehicle?.vehicleModel?.modelName}} <br>
    <strong>Kennzeichen:</strong> {{vehicle?.licensePlate}} <br>
    <strong>Baujahr:</strong> {{vehicle?.vehicleModel?.constructionYear}} <br>
<!--    <strong>Autohalter:</strong> {{contract.policyholder}} <br>-->
<!--    <strong>Versicherung:</strong> {{}} <br>-->
<!--    <strong>Versicherungsnummer:</strong> {{contract.policyNumber}} <br>-->
    <strong>Fahrten:</strong> {{ sumTrips$ | async }} <br>
    <div class="chart-container">
      <canvas  id="MyChart" >{{ chart }}</canvas>
    </div>
  </li>
</ul>
