h1{
  padding-left: 40px;
}

.vehicle-img {
  width: 350px;
  height: 300px;
}

.vehicle {
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
}

.vehicle-details{
  margin:0 20px 10px 0;
}

