<h1>Fahrzeuge</h1>

<ul class="entity-grid">
  @for (vehicle of vehicles; track vehicle.id){
  <div class="entity-card">
  <li class="vehicle-details" [routerLink]="['/vehicle', vehicle.id]">
    <img src="{{vehicle.vehicleModel.imgURL}}" alt="Fahrzeugbild" class="vehicle-img">
    <div class="vehicle-details-line">
    <p id="model-name">{{vehicle.vehicleModel.modelName}}</p>  <br>
    <div id="location">
      <app-osm-view [carId]="vehicle.id" [visibleMap]="false"></app-osm-view>
    </div>
    </div>
    <div class="vehicle-details-line">
    <p>{{vehicle.licensePlate}}</p>  <br>
    </div>
  </li>
  </div>
  }

</ul>

